[2017-01-19 11:06] sils opened #4 "Horizontal scrollba"

[2017-01-19 11:14] hemangsk commented on #4
Fixed in #2 🎉

[2017-01-19 11:15] hemangsk opened #5 "Remove JS import errors"

[2017-01-19 11:19] sils commented on #4
yay

[2017-01-19 11:19] #4 closed

[2017-01-19 11:20] #5 closed

[2017-01-19 11:23] sils opened #7 "infinite scroll missing"
https://github.com/coala/landing-frontend/tree/master/components/ngInfiniteScroll empty?

[2017-01-19 11:24] sils opened #8 "rest queries should go to webservices.coala.io"

[2017-01-19 11:26] sils opened #9 "Idea: detect OS and show e.g. windows/mac specific commands by default for them"

[2017-01-19 11:39] hemangsk opened #12 "Responsive: Make the site mobile ready"

[2017-01-19 11:46] #7 closed

[2017-01-19 11:51] #8 closed

[2017-01-19 14:05] hemangsk opened #13 "Change http to https in config.js"
The request is being blocked; server's content is being served over HTTPS.

[2017-01-19 14:11] #13 closed

[2017-01-19 15:19] hemangsk opened #16 "Change cursor to pointer on tabs and cards"

[2017-01-19 15:20] hemangsk commented on #16
Label design

[2017-01-19 15:47] hemangsk opened #17 "Add proper getting started examples for all languages"

[2017-01-19 16:03] hemangsk opened #18 "Footer: Porting content from coala.io"
- [ ]  Sponsors

- [ ]  Events

- [ ]  Twitter

- [ ]  Link to Docs

[2017-01-19 16:03] sils opened #19 "tabs.html in partials seems to be redundant"
@hemangsk can it be deleted?

[2017-01-19 16:04] hemangsk commented on #19
yeah it can be deleted without breaking any linking.

[2017-01-19 16:06] sils opened #20 "Can we use multiline strings for the examples please?"
Would be way simpler.

[2017-01-20 07:16] #18 closed

[2017-01-21 13:18] SiddharthKumar02 commented on #19
@sils should i be deleting the templateUrl /partials/tabs/home.html ?

[2017-01-21 14:02] sils commented on #19
why do you ask?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 21 January 2017 at 14:18, Siddharth Kumar <notifications@github.com>
wrote:

[2017-01-21 18:12] hemangsk opened #29 "Improve styling in Calendar"

[2017-01-21 20:39] #12 closed

[2017-01-21 20:40] sils commented on #20
this is done right?

[2017-01-21 20:40] #20 closed

[2017-01-21 20:42] hemangsk commented on #20
Ya fixed in https://github.com/coala/landing-frontend/pull/28

[2017-01-21 22:26] hemangsk opened #31 "Show contributor data from all repositories"
API is ready, angular should read it properly

[2017-01-21 22:33] #31 closed

[2017-01-22 09:50] coala-bot opened #33 "Mention that try-online is beta and buggy"
This feature sometimes behaves unexpected and it's a bit of a WIP we should tell our users that with a small text below the `Try coala online` heading IMO

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=5884805ddcb66e4f769593dc) by @sils

[2017-01-22 09:57] hemangsk opened #34 "idea: A link to docs and release after title"
For eg sth like
![screen shot 2017-01-21 at 11 59 29 pm](https://cloud.githubusercontent.com/assets/13018570/22176686/d52bb0dc-e035-11e6-97cc-a8b2f49c07d1.png)

[2017-01-22 11:40] SiddharthKumar02 commented on #19
How do i ensure no linking is broken?

[2017-01-22 12:11] hemangsk commented on #19
@SiddharthKumar02 You can deploy it locally and check if any 404 errors are coming in Firefox/Chrome Developer console

[2017-01-22 13:17] gkrishnan724 commented on #34
Hi, I would like to work on this can you give more details? :)

[2017-01-22 13:30] hemangsk commented on #34
We have a WIP coala.io landing page on http://new.coala.io,
so it'd be great to have a link to docs, source and releases under the main 'coala' heading :)

[2017-01-22 16:52] gkrishnan724 opened #36 "Paritals not loading on opening index.html"
Opening the `index.html` file does not load the partials (content is not visible).

[2017-01-22 20:10] coala-bot opened #38 "Add local deployment instructions."
To start a HTTP server in the project directory

Opened via [gitter](https://gitter.im/coala/coala/?at=5885119ad43728124e8e3f0d) by @hemangsk

[2017-01-23 07:01] #36 closed

[2017-01-23 08:33] #19 closed

[2017-01-23 08:36] sils commented on #9
see https://code.ciphertrick.com/2015/09/21/detect-os-browser-and-device-in-angularjs/

data looks like this: https://code.ciphertrick.com/demo/device-detector/

We could have the installation commands easily tailored towards the right OS

[2017-01-23 09:10] coala-bot opened #41 "Store example commands server side and generate output"
see linked gitter discussion  :point_up: [January 23, 2017 10:04 AM](https://gitter.im/coala/coala?at=5885c704d43728124e9188da)

Opened via [gitter](https://gitter.im/coala/coala/?at=5885c86d519afee26b9e8c78) by @sils

[2017-01-23 09:20] sils commented on #17
I think we should do #41 for that, then have foldable commands with the generated output

[2017-01-23 09:21] sils commented on #34
@gkrishnan724 please note that this is urgent, if you can't do this soon please let us do it instead.

[2017-01-23 15:16] gkrishnan724 commented on #34
What is Source? is it the github organisation link?

[2017-01-23 15:56] sils commented on #34
it's the coala/coala repo: https://github.com/coala/coala/

[2017-01-23 17:10] gkrishnan724 opened #43 "idea: Implement Angular routing for the SPA"
We need to implement the angular routing feature in order to switch between pages.

[2017-01-24 09:29] hemangsk opened #45 "Remove heading from try online page"
![screen shot 2017-01-24 at 2 57 19 pm](https://cloud.githubusercontent.com/assets/13018570/22241467/751589cc-e245-11e6-8846-bd0d90bcf9e7.png)

The navbar already shows that we are inside try online section, which eliminates the need of having the "Try coala Online!" title

[2017-01-25 10:23] #34 closed

[2017-01-25 10:28] #38 closed

[2017-01-25 10:28] #33 closed

[2017-01-25 10:28] #45 closed

[2017-01-25 11:51] hemangsk opened #49 "Snippets javascript not being rendered properly"
The newlines aren't being correctly rendered in snippets.js in GitHub pages

[2017-01-25 15:16] hemangsk opened #50 "Beta badge rendering incorrectly in mobile"
![screen shot 2017-01-25 at 8 43 23 pm](https://cloud.githubusercontent.com/assets/13018570/22296084/3df3e538-e33f-11e6-8715-1200c24754e5.png)

[2017-01-28 17:22] #43 closed

[2017-01-28 17:30] #50 closed

[2017-01-29 06:02] ankit01ojha commented on #16
@hemangsk In which file do I have to make changes?

[2017-01-29 09:40] #16 closed

[2017-01-29 11:56] hemangsk commented on #49
Closed in #52

[2017-01-29 11:56] #49 closed

[2017-01-29 13:13] hemangsk opened #54 "Getting Started section: Code snippets can be added in a fixed height container with scroll bar"
cc @meetmangukiya

[2017-01-29 13:18] coala-bot opened #55 "Change few things in the beta TRY COALA"
In Try coala:
1. Lets reduce, from full width, to maybe 75/60 % including some conditions of width, show 100% if width is less else 75/60% center aligned
2. After clicking the RUN coala button, there is no message like, running or something, which makes one wonder if it is even running(adding it would seem bit more interactive IMO) Something like Our coala's have been resting a bit long, warming t

[2017-01-29 14:46] hemangsk opened #56 "Add on-click waves effect on bear cards"
Inspiration http://materializecss.com/waves.html#!

[2017-01-29 15:12] ayushi-jain97 opened #58 "Collapsible side bar, search menu on top"
A collapsible side bar with a toggle menu on the left with a search bar at the top. Coala logo can be shifted inside the collapsible bar. A search menu on the Home page is a must.
 | Logo |
-Home
-Languages
-Get Involved
-Try Coala
-DOCS
-Source
-Releases
Contact info

[2017-01-29 19:53] #54 closed

[2017-01-29 19:53] #55 closed

[2017-01-29 19:53] #56 closed

[2017-01-29 20:11] coala-bot opened #59 "get involved page has three links that don't go anywhere"
CC @hemangsk

Opened via [gitter](https://gitter.im/coala/community/?at=588e4c7dfba5bfea06a2ab4d) by @sils

[2017-01-30 09:01] brainst opened #60 "Use monospaced font in getting started section under the home tab"
difficulty/newcomer

[2017-01-30 09:02] brainst commented on #60
@meetmangukiya

[2017-01-30 10:54] underyx opened #61 "Virtualenv instructions shouldn't be on front page"
I think these instructions should be behind a link from the above note that

[2017-01-30 10:55] underyx opened #62 "Language labels should be aligned to the bottom"
These ones

![](https://i.underyx.me/2017-01-30T11-55-31.ye5d0.png)

[2017-01-30 10:56] underyx opened #63 "'Python 2 Python Python 3' language labels look silly"
![](https://i.underyx.me/2017-01-30T11-56-02.ryrkf.png)

[2017-01-30 10:58] sils commented on #63
we can make them like the GSoC and RGSoC labels on http://projects.coala.io/#/projects

[2017-01-30 10:58] sils commented on #62
oh yes certainly

[2017-01-30 10:58] underyx opened #64 "Language labels should be styled like labels"
![](https://i.underyx.me/2017-01-30T11-57-32.w8bo8.png)

Instead of this we should have something like what GitHub labels look like ➡️

[2017-01-30 10:58] sils commented on #61
are you sure? I think it might prevent some issues getting more people to use virtualenvs

[2017-01-30 10:59] sils commented on #60
@meetmangukiya assuming you filed this issue? There's monospaced font there, if this issue still applies please make a new one and consider giving a better explanation of this issue ;)

[2017-01-30 10:59] #60 closed

[2017-01-30 11:00] underyx opened #65 "Languages page explore button seems useless"
Search is executed after every keypress anyway.

[2017-01-30 11:00] sils commented on #64
isn't this a dupe of #63 ?

[2017-01-30 11:01] underyx commented on #63
Yes, that looks perfect.

[2017-01-30 11:01] sils commented on #58
I'm not sure I get the reasoning why this needed, also not sure how you want it to look. The current design is very plain and nice to look at while being rather minimal and forcing us to keep it minimal.

[2017-01-30 11:01] sils commented on #59
fixed that

[2017-01-30 11:01] #59 closed

[2017-01-30 11:02] underyx commented on #64
https://github.com/coala/landing-frontend/issues/63#issuecomment-276033629

[2017-01-30 11:02] underyx commented on #64
@sils not a dupe, I'll the other one is about having python three times.

[2017-01-30 11:06] underyx commented on #61
I'm sure we can use that space to showcase something more useful, though I'm not sure about what yet.

Maybe the above note should push virtualenvs a bit more aggressively, like 'we recommend that you install coala inside a virtualenv''.

[2017-01-30 11:06] sils commented on #65
it actually scrolls to the projects :P

[2017-01-30 11:08] underyx commented on #65
Yes, that's what I'm calling useless :D

[2017-01-30 11:09] underyx opened #66 "Render restructuredtext markup in bear descriptions"
![](https://i.underyx.me/2017-01-30T12-09-19.mqsl8.png)

[2017-01-30 11:17] sils commented on #61
if we recommend that it should be right there on the front page

[2017-01-30 11:19] underyx commented on #61
The recommendation, yes. It sounds reasonable to hide the instructions. Maybe behind a `?` icon tooltip.

[2017-01-30 11:22] coala-bot opened #68 "make sure the user knows that docs | source | chat are links"
see discussion

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=588f21dfc0f28dd8625ed80f) by @sils

[2017-01-30 11:26] ayushi-jain97 commented on #58
Yes you are right. The design is simple and easy going but there is lack of
connectivity between pages.

For eg - We cannot reach the DOCS directly from Getting Involved section or
vice versa.

Thanking you
Yours sincerely
Ayushi Jain
Sophomore
Dept of CSE
IIT-BHU, Varanasi
India

On Mon, Jan 30, 2017 at 4:31 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2017-01-30 11:33] coala-bot opened #69 "allow users to copy code snippets to clipboard with a single button"
https://clipboardjs.com/ is a non flash based method to do this

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=588f24a4c0f28dd8625ee57d) by @sudheesh001

[2017-01-30 11:41] sils commented on #69
see also #41

[2017-01-30 11:47] #64 closed

[2017-01-30 11:47] #65 closed

[2017-01-30 11:56] sils commented on #68
possible link styles:

![](https://files.gitter.im/coala/coala/maintainers/4qxR/Screenshot-from-2017-01-30-12-25-33.png)

[2017-01-30 12:02] hemangsk commented on #68
chip is looking coolest!

[2017-01-30 12:14] Makman2 opened #70 ""installing inside a virtualenv": Be consistent with subheaders for different OSes"
Currently it looks like this:

but it should be

[2017-01-30 12:15] Makman2 opened #71 "getting started: Code box should have more height"

[2017-01-30 12:16] Makman2 opened #72 "getting started: Code box should have colors like coala outputs them"

[2017-01-30 12:17] Makman2 opened #73 ""Why use coala" paragraph"
I think we need to describe more on the main page why someone should use coala.

[2017-01-30 12:18] sils commented on #72
related: #41 otherwise almost not possible

[2017-01-30 12:33] Makman2 commented on #72
why not? let's create an own little ui element which formats with colors^^

[2017-01-30 12:59] #62 closed

[2017-01-30 12:59] #66 closed

[2017-01-30 13:22] sils commented on #63
@underyx please clarify for @ankit01ojha what you want, that change isn't what we want FWIW

[2017-01-30 13:28] underyx commented on #63
I did, see issue body.

[2017-01-30 13:51] meetmangukiya commented on #60
@sils sorry, it seems monospaced now, maybe my browser was acting wierd :(

[2017-01-30 13:51] hemangsk commented on #73
Yeah totally 👍

[2017-01-30 15:20] ankit01ojha commented on #63
I only have to change it to python 2/3 and make the labels look like  http://projects.coala.io/#/projects.
sorry I only made to the changes to look it like in  http://projects.coala.io/#/projects

[2017-01-31 09:17] hemangsk opened #79 "Improve readability in GetInvolved Section"

[2017-01-31 17:30] #68 closed

[2017-01-31 17:30] #71 closed

[2017-01-31 17:50] Shruti9520 commented on #79
@hemangsk Can I work on this issue?

[2017-01-31 18:10] hemangsk commented on #79
Hey, welcome to this project! To get started, goto the gitter and say hello. They'll add you to the org which will let us assign you to an issue!

[2017-01-31 18:11] hemangsk commented on #79
[Gitter Room ](https://coala.io/chat)

[2017-01-31 18:18] Shruti9520 commented on #79
@hemangsk Thanks

[2017-01-31 18:52] hemangsk commented on #79
@shruti9520 you can use the command ```cobot assign <issue-link>``` on the gitter chatroom to get assigned to issues.

[2017-02-01 09:37] coala-bot opened #80 "Use imperative headings"
I think that's nicer. Like commit messages. `installation` -> `install coala`, `getting started` -> `get started`

Opened via [gitter](https://gitter.im/coala/community/?at=5891ac531e4d4bd962bd4a4c) by @sils

[2017-02-01 09:38] coala-bot opened #81 "Use `coala.io` with the .io like everywhere"
the .io should be greyed out like in our shirts.

I'd do it in the main heading, the footer but not e.g. in `simply install coala`.

Opened via [gitter](https://gitter.im/coala/community/?at=5891aca1c0f28dd8626d218f) by @sils

[2017-02-01 09:41] coala-bot opened #82 "`Linting` use lower case l"
difficulty newcomer maybe this is something for @seblat

Opened via [gitter](https://gitter.im/coala/community/?at=5891ad3ce836bf7010b92335) by @sils

[2017-02-01 09:49] coala-bot opened #83 "link to coala.io/tutorial"
right below the getting started section

Opened via [gitter](https://gitter.im/coala/coala/?at=5891af3efba5bfea06b4dd40) by @sils

[2017-02-01 10:03] Shruti9520 commented on #79
@hemangsk Can I now work on this issue?

[2017-02-01 10:17] hemangsk commented on #79
@Shruti sure :+1: assigned you :)

[2017-02-01 12:11] etotientz commented on #82
Can I be assigned this task?I can do it.

[2017-02-01 12:13] hemangsk commented on #82
Hey @etotientz ! you can use the command cobot assign <full-link-to-issue> on the gitter chatroom to get assigned to issues.

[2017-02-01 13:06] etotientz commented on #82
Please pull https://github.com/coala/landing-frontend/pull/84

[2017-02-01 13:18] gkrishnan724 opened #85 "Links below title are not proper in mobile view"
![screenshot from 2017-02-01 18-36-47](https://cloud.githubusercontent.com/assets/21004514/22508159/bf9a004e-e8ae-11e6-90a2-63d6ebea3ed0.png)

[2017-02-01 13:51] etotientz commented on #83
Is this the link we are talking about?
https://docs.coala.io/en/latest/Users/Tutorial.html

[2017-02-01 14:13] coala-bot opened #86 "Remove #! from urls"
Eg: coala.io/#!/languages
cc @jayvdb @meetmangukiya

Opened via [gitter](https://gitter.im/coala/coala/?at=5891ecf32ff29dec066371b7) by @hemangsk

[2017-02-01 17:09] aalind0 commented on #29
Please, add description. @hemangsk

[2017-02-01 17:40] aalind0 commented on #86
https://gist.github.com/cjus/b46a243ba610661a7efb
Configure the server like this.

[2017-02-01 17:51] ankit01ojha commented on #86
@aalind0 Your commit message should not be like this, it should be like `filename: commit message <new line> fixed/closed link of issue` please correct it.

[2017-02-01 18:06] coala-bot opened #88 "try coala: We can maybe add a section, if you find it interesting and wished there was a CI to do that, look out for gitmate!"
/cc @sils ? Well, if we want to promote gitmate with coala, anyway in future coala will be under gitmate's umbrella, right ?

Opened via [gitter](https://gitter.im/coala/coala/?at=589223bedcb66e4f76db1c7f) by @meetmangukiya

[2017-02-01 20:00] hemangsk commented on #86
Its good to get assigned to the issue before starting to work on an issue to avoid any conflicting situation in future( like two developers working on same issue )

[2017-02-02 03:51] ankit01ojha commented on #63
@sils should we close this issue?

[2017-02-02 14:21] #82 closed

[2017-02-02 18:54] Mariatta opened #91 "coala.io should have a link to CoC"
Add link to Code of Conduct from coala website
https://coala.io/

The link to code of conduct is
http://coala.io/coc

Perhaps add as an item in the bottom of page:
coala:
Documentation
Newcomer Docs
*Code of Conduct*
Blog
Donate

![screen shot 2017-02-02 at 10 52 29 am](https://cloud.githubusercontent.com/assets/5844587/22563552/db6ef4b4-e935-11e6-944e-d7ac5af1d73a.png)

The file to be changed is

[2017-02-02 19:02] Mariatta commented on #81
I think this will be a little more advanced for a newcomer, no?
I imagine it will involve creating a new css class, and going through all instances of .io and apply the new css tag?

[2017-02-02 19:25] adtac opened #92 "Add colors to the coala sample run"
coala can output with colors :P

[code]

is a bit unreadable

[2017-02-02 19:26] adtac opened #93 "Make bears selectable in the "Try coala" section"
We can't possibly expect the user to type in the bear name - they don't know anything whent they arrive at the landing page!

[2017-02-02 19:27] adtac opened #94 "Use a better example in the "Try coala" section"
Maybe we could use a real program from the real world. This way, we can showcase the concept of neatly returning multiple results.

[2017-02-02 19:28] Makman2 commented on #93
We should also display a description what the bear does^^ We could just take the docstring^^

[2017-02-02 19:32] adtac commented on #93
We could also suggest them a bear based on the language they're typing in the code area above.

If we have the language information, we could also add syntax highlighting, but that's not really a priority right now :P

[2017-02-02 20:39] coala-bot opened #95 "show settings for bears in Bear details view"
cc @sils

Opened via [gitter](https://gitter.im/coala/coala/?at=589399082ff29dec066d0004) by @hemangsk

[2017-02-02 20:43] sils commented on #81
feel free to mark it low

[2017-02-03 07:26] hemangsk opened #97 "coafile: Create coafile and add indentation Bear"

[2017-02-03 11:51] sils commented on #86
closing as wontfix, see discussion at #87

[2017-02-03 11:51] #86 closed

[2017-02-03 13:47] Techievena opened #98 "Change new.coala.io to coala.io in description"
In the description of the repository, new.coala.io must be renamed to coala.io :stuck_out_tongue:

[2017-02-03 13:56] Shruti9520 commented on #79
@hemangsk I changed the heading part as well as the links (it shows underline on hover).
Here is the screenshot-

![coala](https://cloud.githubusercontent.com/assets/20228417/22593869/99748490-ea46-11e6-870a-129fdc1d47f4.png)

[2017-02-03 14:14] hemangsk commented on #79
@Shruti9520 can you make a PR, that'll help reviewers test the changes locally

[2017-02-03 14:21] Shruti9520 commented on #79
@hemangsk  Sure :)

[2017-02-03 14:22] Shruti9520 commented on #79
@hemangsk PR#99

[2017-02-03 15:07] Shruti9520 commented on #79
@hemangsk PR#100

[2017-02-03 15:48] coala-bot opened #101 "Replace new.coala.io to coala.io in the repo description"
Opened via [gitter](https://gitter.im/coala/coala/?at=5894a6672ff29dec06725212) by @meetmangukiya

[2017-02-03 15:49] sils commented on #101
done

[2017-02-03 15:49] #101 closed

[2017-02-03 19:08] #91 closed

[2017-02-03 19:35] Mariatta commented on #98
Thanks for the report. Seems like it's done now :)

[2017-02-03 19:35] #98 closed

[2017-02-03 19:40] aalind0 commented on #94
Maybe like this -
[code]

[2017-02-03 19:59] Mariatta commented on #93
Yes. At first it was not even obvious that PEP8Bear is in a textbox that you can edit.

I think we should add a label/description above the two textboxes:

eg:
Type in some code:
[Code textarea]

Enter comma separated bear names, eg "PEP8Bear, YapfBear":
[Bear textbox]

[Run coala button]

[2017-02-04 11:16] coala-bot opened #107 "with cobot creating issues, probably the issues data is not accurate"
We can fix it by, going through the issues created by cobot and then look for `@...` and add those numbers to the issues of `@...` Like this one :P

Opened via [gitter](https://gitter.im/coala/coala/?at=5895b81d3f5ec4d007548e5d) by @meetmangukiya

[2017-02-04 11:19] coala-bot opened #108 "contrib: Shorten the bio after relevant number of keywords"
I've seen bio overlapping with number of commits and issues, for instance of @Abhi2424shek
We can maybe shorten the bio after some `x` characters

Opened via [gitter](https://gitter.im/coala/coala/?at=5895b8d11319d8183eeeff6e) by @meetmangukiya

[2017-02-04 11:25] coala-bot opened #109 "Add search bar to contrib section"
Opened via [gitter](https://gitter.im/coala/coala/?at=5895ba365bc3025608c69620) by @meetmangukiya

[2017-02-04 11:54] hemangsk commented on #107
This will be backend work,  lets move this one on gitlab ? https://gitlab.com/coala/landing/issues ?

[2017-02-04 17:28] #95 closed

[2017-02-05 06:53] coala-bot opened #119 "languages.html: Improve search bar styling"
Opened via [gitter](https://gitter.im/coala/coala/?at=5896cbd31319d8183ef3b0d2) by @gkrishnan724

[2017-02-05 07:00] ankit01ojha commented on #63
@sils This issue has been emerged once again.

[2017-02-05 07:03] Mariatta commented on #119
Please elaborate on what kind of improvement would you like to see in the search bar.
This will help us decide the scope, severity, and difficulty of this issue.

Thanks.

[2017-02-05 11:46] gkrishnan724 commented on #119
@Mariatta Sorry about that.
The placeholders are not visible and we probably need a search icon:
something like this:
![screenshot from 2017-02-05 17-15-38](https://cloud.githubusercontent.com/assets/21004514/22625901/ce793470-ebc6-11e6-829c-d18e7a9f4d93.png)

[2017-02-05 11:47] gkrishnan724 commented on #119
Also, It will look good if the search bar gets little transparent when on focus

[2017-02-05 13:07] aalind0 opened #120 "Tabs don't switch while going back, though the page changes."
If we switch tabs(like home, languages, get involved) on http://coala.io/#!/home and then try to go back, the black highlighter stays on the latest page only and doesn't move while the page changes.

Like as shown in the image although we are on the home page but getinvolved tab is highlighted.

![capture](https://cloud.githubusercontent.com/assets/13695616/22626382/072d0b38-ebd2-11e6-9099-88f7a40

[2017-02-05 16:04] CristianPopa96 commented on #81
Can somebody please explain what should be done? Where do I find the .io text?

[2017-02-05 18:47] coala-bot opened #123 "split JS stuf into one file per partial"
Opened via [gitter](https://gitter.im/coala/coala/?at=5897734af045df0a220c7baf) by @sils

[2017-02-05 18:49] #93 closed

[2017-02-05 21:23] sims1253 opened #124 "Sort contributors by revies"

[2017-02-05 21:27] sims1253 opened #126 "Fix test command"
either python2 or python -m http.server 8000 --bind 127.0.0.1

[2017-02-05 22:01] #124 closed

[2017-02-05 22:01] #126 closed

[2017-02-05 22:05] sims1253 opened #127 "fix sorting by reviews"
sorting by reviews has probably nans at the top and rultor and gitmate bot in there. maybe add them extra for fun but the empty ones should be removed.

[2017-02-05 22:05] sims1253 commented on #127
cc @hemangsk

[2017-02-05 23:59] sims1253 opened #128 "Show stats of the month for contributors"
Showing all time stats is nice but gives little incentive to work on yourself as you can't really break into the top/front page. Having the stats for the last x days/weeks makes it possible to be at the top for everyone

[2017-02-06 00:12] Mariatta opened #129 "rultor should not be included as contributor"

[2017-02-06 00:14] sils commented on #129
why? I'm not sure we want special handling here.

[2017-02-06 00:15] sils commented on #129
we may want to have a mixed score of reviews and commits to reward both I guess

[2017-02-06 00:31] Mariatta commented on #129
Cause it's not a real person...

[2017-02-06 00:37] Mariatta commented on #129
And maybe gitmate should be excluded too... can't compete with a bot.. :sweat_smile:

[2017-02-06 03:03] Mariatta opened #132 "Identify contributor's rank in Get Involved Page"
Been thinking about this other issue:
https://github.com/coala/teams/issues/29

Currently in the Get Involved page, it lists every contributors to coala, with the ones who has done the most reviews on top.

Perhaps we can group the contributors based on rank. eg the maintainers' group, Developers' group, and Newcomers group.

Alternatively, in each of the contributor's card, there could be an addi

[2017-02-06 12:41] coala-bot opened #133 "Add left/right navigation in languages page"
It would be cool if we had modal navigations in the languages page  just like the projects page! refer to: https://github.com/coala/projects/pull/151

Opened via [gitter](https://gitter.im/coala/coala/?at=58986eea1465c46a562affde) by @gkrishnan724

[2017-02-06 14:49] #79 closed

[2017-02-06 16:57] #127 closed

[2017-02-07 13:08] meetmangukiya commented on #107
Sure

[2017-02-07 13:09] meetmangukiya commented on #132
Sounds like a leaderboard to me, not sure if we want one? Can be motivating, but we don't want people to contribute just for rising in leader board, do we?

[2017-02-08 03:03] rahulkde commented on #83
where do i place the link?

[2017-02-08 03:04] rahulkde commented on #83
Where in the getting started section does the link have to be placed.

[2017-02-08 05:34] hemangsk commented on #83
This has already been resolved  in https://github.com/coala/landing-frontend/commit/e3d865b8406dc9fd013517382972a41c4dec1869 👍  😃
![screen shot 2017-02-08 at 11 03 47 am](https://cloud.githubusercontent.com/assets/13018570/22724750/508aa600-edee-11e6-957b-64e30c4befdc.png)

[2017-02-08 05:34] #83 closed

[2017-02-08 05:55] hemangsk opened #137 "Improve responsiveness in bear details view"
- [ ]  Links move out of the container

- [ ]  Bear name font size is too large in small screen (should decrease responsively and responsibly 😉  )
<img src="https://cloud.githubusercontent.com/assets/13018570/22725135/3dda1574-edf1-11e6-8404-97d168e2374b.png" height=200 />

[2017-02-08 06:07] meetmangukiya commented on #137
Could we make the two colums to two rows on small screen? That'd be better I think

[2017-02-08 06:21] hemangsk commented on #137
@meetmangukiya have a look, this keeps intact the columnish look as well
<img src="https://cloud.githubusercontent.com/assets/13018570/22725547/2545116e-edf4-11e6-96d6-5c914e81ff19.png" height=200 />

[2017-02-08 10:31] #70 closed

[2017-02-08 14:21] #119 closed

[2017-02-08 17:54] #108 closed

[2017-02-08 18:23] #137 closed

[2017-02-09 23:12] sims1253 opened #140 "Text on http://coala.io/#!/getinvolved is not centered"

[2017-02-10 15:02] underyx opened #141 "Pages of specific bears from /languages should be linkable and indexable by Google"

[2017-02-10 15:31] meetmangukiya opened #142 "re-route http request through https"
Even though we have https at coala, if one types just coala.io it is being served over http

[2017-02-10 15:59] aalind0 commented on #142
IMO it's server side work !

[2017-02-11 05:13] meetmangukiya commented on #142
I know, just needed to track the issue :)

[2017-02-16 16:54] #140 closed

[2017-02-17 14:51] #123 closed

[2017-02-27 18:06] saurabhmarpadge commented on #141
@underyx Any description, From where do I start working on it.

[2017-02-27 18:15] saurabhmarpadge commented on #128
@sims1253, From stats do you mean commits done by contributors.
Can you help me, how can i solve this issue?

[2017-02-27 19:56] underyx commented on #141
@saurabhmarpadge you'll have to do quite a bit of research on your own for this one.

If you could make the URL https://coala.io/#!/languages/AlexBear open the dialog for AlexBear, that'd probably solve it. How you do that is up to you.

[2017-02-28 18:26] sims1253 commented on #128
commits, reviewed PRs and issues. The idea was to instead of showing the overall stats, we show the monthly stats.
I don't really have time atm, you can ask the rest of the community team about this

[2017-03-04 05:18] rahulkrishnan98 commented on #85
@gkrishnan724 what changes are required.

[2017-03-06 14:14] underyx opened #147 "Don't advise people to 'use Docker to run coala' on the frontpage"
We're not really maintaining the docker image (see inactivity of https://github.com/coala/docker-coala-base/issues/125). People will unknowingly use months old versions of coala if they do what we tell them to on the homepage, and that's not very nice.

[2017-03-07 07:12] sils commented on #147
the docker release should happen ASAP, it's critical. It's a shame this didn't happen yet, people are going to use the docker image for CI anyway so I'd stay with it on the frontpage. Maybe we need to make releasing the docker image with a new version easier.

[2017-03-11 18:23] hemangsk opened #148 "Add support in frontend for bear analytics API"
Related to https://github.com/coala/coala/issues/3771 and
https://gitlab.com/coala/landing/issues/33

[2017-03-22 23:56] sims1253 opened #149 "Add links to the commit, review and issue stats"
Would be cool to be able to click on the numbers and get to the respective github search

[2017-03-24 11:37] coala-bot opened #150 "Available bears link does not look clickable on hover in homepage"
The link at the bottom of the homepage does not change cursor on hover
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58d504fd155e992759b37c0d) by @kaustubhhiware

[2017-03-24 17:04] #150 closed

[2017-04-03 18:28] #97 closed

[2017-04-05 11:17] underyx opened #153 "Settings list needs a redesign"
It's very inconvenient to hover over 20 different settings to be able to read what they do.

[2017-04-09 13:49] sils opened #154 "Elaborate on our editor plugins"
people should be able to find them on the website!

[2017-04-09 13:49] sils commented on #154
See also https://github.com/coala/coala/issues/3800

[2017-04-09 14:57] #154 closed

[2017-04-09 14:57] #80 closed

[2017-04-09 15:03] hemangsk opened #156 "About Page"
Solving https://github.com/coala/landing-frontend/issues/73, and adding detailed information to supplement the README.

cc @sils

[2017-04-09 15:59] #156 closed

[2017-04-09 17:19] coala-bot opened #159 "Use `cat filename` in the get started section instead of multiline `echo`s"
Opened via [gitter](https://gitter.im/coala/coala/?at=58ea6d1f4cb8d0917374415e) by @adtac

[2017-04-09 17:20] coala-bot opened #160 "Bash syntax highlighting in the get started section"
Opened via [gitter](https://gitter.im/coala/coala/?at=58ea6d43b52518ed4df5a49c) by @adtac

[2017-04-09 17:21] coala-bot opened #161 "Navbar at the top is not centered"
Opened via [gitter](https://gitter.im/coala/coala/?at=58ea6d878fcce56b20e66232) by @adtac

[2017-04-09 17:21] #161 closed

[2017-04-09 17:22] Mixih commented on #161
seems fixed for now

[2017-04-09 17:23] coala-bot opened #162 "Sublime -> Sublime Text"
Opened via [gitter](https://gitter.im/coala/coala/?at=58ea6e0cad849bcf42690b15) by @adtac

[2017-04-09 17:28] coala-bot opened #163 "Use code elements for the `--pre` thing in the install section"
Looks like one big hyphen

Opened via [gitter](https://gitter.im/coala/coala/?at=58ea6f4ef22385553d2491cc) by @adtac

[2017-04-09 17:31] adtac commented on #160
just add `bash` after the opening tripleticks? I dunno if that'll get rendered

[2017-04-09 17:32] coala-bot opened #164 "The current tab underline in the navbar doesn't slide to the langauges tab if I click the "Check the available bears!" link at the bottom of the homepage"
Opened via [gitter](https://gitter.im/coala/coala/?at=58ea703c8fcce56b20e66aef) by @adtac

[2017-04-11 12:37] underyx opened #165 "HTMLLintBear matches the 'python' search string for some reason on the languages page"

[2017-04-11 14:34] hemangsk commented on #165
Yeah actually in the description of HTMLLintBear, we have
[code]

So it is getting the "python" from this PyPI link.

As a possible solution, we can remove the description part of bears from the scope of search.

[2017-04-12 05:00] SanketDG opened #166 "about page font size issue"
![99863733-17cc-46eb-b89d-31deeb88b417](https://cloud.githubusercontent.com/assets/8980971/24941862/0c10a084-1f6b-11e7-875c-ff831ee29b6a.jpg)

[2017-05-04 16:34] supergr35 opened #168 "Add frontend for coala.io/links"
Imo coala.io/links is really useful because it can show newcomers all the easy ways to get to things like newcomer issues or commit docs. However, it doesn't have a graphical frontend. We also might want to put changes in our docs to mention coala.io/links if this is implemented.

[2017-05-04 17:36] hemangsk commented on #168
sounds great

[2017-05-05 00:44] yukiisbored commented on #168
Yeah, I'm looking for solutions and a better way to handle shortlinks. We're currently using nginx to do that.

[2017-05-05 15:56] supergr35 commented on #168
I'd kinda like to do this, but it'd most definitely take me a while. Is that alright?

[2017-05-05 18:55] supergr35 commented on #168
I discussed this with @Mixih and he felt like this could maybe just go in the docs. Anybody's thoughts for that? If it isn't in the docs, then where should we make coala.io/links go?

[2017-05-09 05:10] rahulkrishnan98 commented on #166
What changes do you propose @SanketDG

[2017-05-22 18:21] hemangsk opened #170 "UI Mockup for the coala Online Module"
Hey coalians 😃

During GSoC phase 2, I will work on creating the frontend for coala Online Module.
The coala Online module is basically an upgrade of the current Try Online module, so that bears with non optional settings can be used and result is returned.

Also,
-  Incase of any kind of errors encountered, for example while receiving results in frontend or while making request to backend to run

[2017-05-26 18:21] sils commented on #170
didn't we want to use coala-html embedded here?

[2017-05-26 23:37] hemangsk commented on #170
Yea. This has some additional functionality as well like it has options to choose bears and run coala on code on button click.
 We can use the coala-html's result displaying functionalities, that is its front end part.

[2017-06-13 22:11] hemangsk opened #172 "Bears compatible with all languages don't come when a specific language is searched"
Bug Reported by sims1253
Gitter : :point_up: [June 13, 2017 6:55 PM](https://gitter.im/coala/community?at=593fe7d5f31c8ced0c2fd24a)

String entered by user in searchbar is matched with whole of a bear's json.
[code]

A modification like,
[code]

[2017-06-16 07:45] coala-bot opened #173 "Search only tags and names, no body"
Opened via [gitter](https://gitter.im/coala/community/?at=59438c98cf9c13503c8f5064) by @sims1253

[2017-06-16 07:45] coala-bot opened #174 "List non optional settings before optional ones"
Opened via [gitter](https://gitter.im/coala/community/?at=59438caccaf4d68d6f3cd756) by @sims1253

[2017-06-16 10:26] sims1253 opened #175 "css not loaded properly with chromium"
Chromium Version 59.0.3071.86 (Developer Build) (64-bit)

![screenshot from 2017-06-16 12-25-09](https://user-images.githubusercontent.com/6530123/27223001-e70d9812-528e-11e7-831f-4465f07bf57e.png)

[2017-06-18 00:18] coala-bot opened #178 "Check repository for .yml files using YAMLLintBear"
Add YAMLLintBear in .coafile and fix .yml file issues raised by coala. See https://github.com/coala/coala-bears/pull/1799 for reference.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5945c6f0f31c8ced0c479496) by @Monal5031

[2017-06-18 00:39] coala-bot opened #179 "can't see bear details"
when I click on bear card nothing happens :(

Opened via [gitter](https://gitter.im/coala/community/?at=5945cbafca6d4ae80c241b7c) by @sils

[2017-06-18 00:45] hemangsk commented on #179
Related discussion https://github.com/coala/devops/issues/57#issuecomment-309243526

[2017-06-26 12:38] hemangsk opened #182 "coalaOnline: Find a solution to use the popular extension to be more intuitive"
Like for python, use extension : .py instead of .gyp

[2017-06-26 12:49] hemangsk opened #183 "coalaOnline: Show proper message when there are no results to be shown"

[2017-06-27 08:49] #178 closed

[2017-06-29 15:04] hemangsk commented on #128
Related backend issue https://gitlab.com/coala/landing/issues/44

[2017-06-29 19:39] jayvdb commented on #81
@etotientz, are you still working on this?

[2017-06-29 20:24] hemangsk opened #185 "coalaOnline: Show non_optional_params settings of BEAR_DEPS also"
Like KeywordBear itself doesn't have any non optional settings, but its dependency AnotationBear has "language" param, and absence of its value while passing settings to backend is causing 500.

[2017-06-29 20:30] hemangsk opened #186 "coalaOnline: GitHub repository linting"
An input box to accept github repo url / clone url and to run coala online on that repository

[2017-06-29 23:24] #129 closed

[2017-06-30 19:08] #186 closed

[2017-06-30 19:12] hemangsk opened #188 "coalaOnline: Style the github repository linting input box"
It should not have box shadow like the textbox beside it.

[2017-06-30 19:13] hemangsk commented on #185
Done via https://github.com/coala/landing-frontend/commit/523bc0bd9dad41d59d2f230041a9be324c0f7e00

[2017-06-30 19:13] #185 closed

[2017-07-01 00:15] hemangsk opened #189 "coalaOnline: Text goes out of container in cases when coafiles has a lot of bears"
Changes should be done at https://github.com/coala/coalaCSS
![screen shot 2017-07-01 at 5 43 58 am](https://user-images.githubusercontent.com/13018570/27757554-7307cd5a-5e20-11e7-96a7-968f0a88c779.png)

[2017-07-01 00:18] hemangsk commented on #179
Solved via https://github.com/coala/devops/commit/82b76ca4d8e72709688634e0b2e79d27b682ec58

[2017-07-01 00:18] #179 closed

[2017-07-02 07:48] raghavmittal101 commented on #188
I have got the solution but should I edit `coala.css` in  CoalaCSS repo to solve this issue? Because these are two separate repos and changes may affect other linked pages with the same CSS.

[2017-07-02 08:21] raghavmittal101 commented on #189
Can I fix this issue?

[2017-07-04 09:58] raghavmittal101 opened #190 "coalaOnline: disable horizontal resize property for input textarea under 'instant' tab"
Input textarea under `instant` tab should not be resizable horizontally by hand.
Changes to be done in [coalaCSS](https://github.com/coala/coalaCSS).
![im1](https://user-images.githubusercontent.com/9378481/27825296-b6a59354-60cc-11e7-8867-930ca58ae7e1.png)
![im2](https://user-images.githubusercontent.com/9378481/27825299-b81608fe-60cc-11e7-8bd8-0f1c27cd77c0.png)

[2017-07-04 10:26] Arsfiqball commented on #164
@adtac @hemangsk ,
it seems like materializecss tabs underline indicator is listening for click event instead of css class "active"

[2017-07-04 12:44] coala-bot opened #192 "setting text not clickable"
If you want to add a setting, you can only do it by clicking the underlining of the setting name, not by clicking the setting name itself

Opened via [gitter](https://gitter.im/coala/community/?at=595b8da4329651f46e50c06d) by @sims1253

[2017-07-04 12:45] coala-bot opened #193 "no setting field when adding new bear at coala online"
When you add a new bear, there is no field to add any settings

Opened via [gitter](https://gitter.im/coala/community/?at=595b8dd23230e14f3a23365e) by @sims1253

[2017-07-04 12:49] hemangsk commented on #192
Related upstream thread https://github.com/Dogfalo/materialize/issues/3829

[2017-07-04 16:19] coala-bot opened #194 "Adding ids to tabs in index.html"
https://github.com/coala/landing-frontend/pull/191 adds an id to languages tab. Similar ids should be added to other tabs as well.
difficulty/low

Opened via [gitter](https://gitter.im/undefined/?at=595bc01e5a1ab55f6454c1f3) by @IpshitaC

[2017-07-05 06:56] raghavmittal101 commented on #190
I am creating a new branch in my fork to create a PR, because master contains unmerged commits which are not related to this issue.

[2017-07-05 07:16] raghavmittal101 commented on #190
Please don't mind the earlier commits. It happened because I messed up with the branches on a fork of `coalaCSS`.

[2017-07-05 07:16] raghavmittal101 commented on #190
Only the last commit is valid.

[2017-07-05 13:14] #190 closed

[2017-07-05 16:27] yashpratapsingh commented on #192
Hi! I'll like to work on this

[2017-07-06 07:28] khanchi97 commented on #189
Hello @raghavmittal101 !!
According to http://api.coala.io/en/latest/Developers/Writing_Good_Commits.html
I think you should start shortlog of your commit with a capital letter.

[2017-07-06 10:38] #164 closed

[2017-07-07 08:53] #189 closed

[2017-07-07 09:09] hemangsk commented on #192
@yashpratapsingh assigned, btw you can also assign yourself to an issue using corobo on the coala gitter channel,
[code]

[2017-07-10 13:50] chauffer opened #195 "rawgit.com gets blocked by privacy badger"
consider hosting locally if possible (https://coala.io/assets/...)

[2017-07-10 23:46] sils commented on #195
So what are we supposed to do?

On Jul 10, 2017 3:51 PM, "Simone Esposito" <notifications@github.com> wrote:

[2017-07-11 11:53] chauffer commented on #195
consider hosting locally if possible (https://coala.io/assets/...)

[2017-07-11 12:54] sils commented on #195
Possible but tedious, this fetches the CSS right from our coalaCSS repo so
e never need to update a server :/

On Jul 11, 2017 1:53 PM, "Simone Esposito" <notifications@github.com> wrote:

[2017-07-14 13:24] sils opened #196 "coala online interface doesn't show line numbers"

[2017-07-16 14:14] timkartar commented on #188
Can we bring a copy of the coala.css file to this repo and alter the html file to refer this copy as css source and edit this copy of coala.css ?

[2017-07-16 16:29] raghavmittal101 commented on #188
@timkartar It is not required. You can commit changes in `CoalaCSS` repo against the issue raised in `landing-frontend` repo and vice-versa. You can find the steps [here](https://github.com/blog/1439-closing-issues-across-repositories).

[2017-07-16 16:48] timkartar commented on #188
Thank you . But, actually I was asking regarding your previous comment . If modifying the file at coalacss affects other linked pages with the same css then can we work around by using a copy of the css in this repo and use it after modifying ?

[2017-07-20 12:15] gureks commented on #194
@IpshitaC It doesn't add any id to any tabs. Can you please clarify what the issue is about?

[2017-07-20 12:18] gkrishnan724 commented on #194
@IpshitaC  This won't be a correct fix. The whole point of the function is to do SPA routing. When you are giving the complete URL, this would just re direct you to a new page.

[2017-07-20 12:57] hemangsk commented on #196
Closed via https://github.com/coala/landing-frontend/commit/f880caecb57309680a9e5ac53d90deb5fd4b4c95

[2017-07-20 12:57] #196 closed

[2017-07-20 13:03] IpshitaC commented on #194
Hey! When I filed this issue, https://github.com/coala/landing-frontend/pull/191 was being solved by adding an id to the language tab, which would have been one of the ideal ways. I just noticed how the issue finally got solved.
IMO, we should not be hardcoding absolute URLs to our own site. I read somewhere on stackoverflow that

[2017-07-20 13:08] IpshitaC commented on #194
@gkrishnan724 I get your point. How do you suggest we proceed?

[2017-07-20 13:20] #162 closed

[2017-07-21 05:25] co-robo opened #200 "Unnecessary console.log in languagesDirective.js"
On line 56, there's an unneeded console log.
difficulty newcomer
Opened by @gureks at [gitter/coala/cobot-test](https://gitter.im/coala/cobot-test?at=597190641c8697534a45f739)

[2017-07-21 10:46] yukiisbored opened #201 "Make the website friendly without Javascript"
I know this might sound pretty stupid, but I think it's a good idea to make the website to "work" without Javascript. Sure, a lot of the components won't work, but at least get the home and about page working since those are just static content and does not require JS.

[2017-07-21 18:52] rstein66 commented on #200
[languagesDirective.js#L56](https://github.com/coala/landing-frontend/blob/master/resources/js/Directives/languagesDirective.js#L56)

[2017-07-21 19:25] rstein66 commented on #73
Closed by 60e8dbfdeac33bfaf8cb55d446be53e13e7ceb24

[2017-07-21 19:58] #73 closed

[2017-07-21 20:00] rstein66 commented on #85
@gkrishnan724 , do you still have this problem?

If so,
* What do you mean by not proper? (*e.g.* Are all 3 broken?  Is 1 directing you to the wrong view?)
* Which OS & browser?

[2017-07-21 22:00] hemangsk commented on #85
@rstein66 as in the screenshot the text "docs" , "source" and "chat" are going outside the grey coloured chip which should not be the case.

[2017-07-21 22:06] rstein66 commented on #85
@hemangsk Oh, got it; thanks for the clarification!

[2017-07-25 19:14] SanketDG commented on #166
closing because things look okay now

[2017-07-25 19:14] #166 closed

[2017-07-29 17:59] hemangsk opened #202 "Languages: Clicking on cards throws 500"
Related devops issue, https://github.com/coala/devops/issues/70.

[2017-08-07 10:19] sd5869 commented on #188
I have added a PR please review it.

[2017-08-08 00:34] hemangsk opened #207 "coalaOnline: Show Diff in results view"

[2017-08-12 21:22] #200 closed

[2017-08-15 12:00] #153 closed

[2017-08-15 12:00] #174 closed

[2017-08-15 12:02] hemangsk commented on #207
Done via https://github.com/coala/landing-frontend/pull/206

[2017-08-15 12:02] #207 closed

[2017-08-15 12:03] hemangsk commented on #193
Done via https://github.com/coala/landing-frontend/pull/206

[2017-08-15 12:03] #193 closed

[2017-08-15 12:05] hemangsk commented on #170
Completed via https://github.com/coala/landing-frontend/pull/206, https://github.com/coala/landing-frontend/pull/180, https://github.com/coala/landing-frontend/pull/187

[2017-08-15 12:05] #170 closed

[2017-08-15 12:06] hemangsk commented on #172
Done via https://github.com/coala/landing-frontend/pull/260

[2017-08-15 12:06] #172 closed

[2017-08-15 12:19] hemangsk commented on #72
We can use https://github.com/google/code-prettify in the <pre> </pre> of getting started section

[2017-08-15 12:21] hemangsk commented on #92
https://github.com/coala/landing-frontend/issues/72

[2017-08-15 12:21] #92 closed

[2017-08-15 12:23] hemangsk commented on #107
Moved to https://gitlab.com/coala/landing/issues/26

[2017-08-15 12:23] #107 closed

[2017-08-15 12:49] Makman2 commented on #72
But `code-prettify` will automatically format, won't it? Would be nice to grab the escape sequences from coala output and use these to render the color. Otherwise we would have to write a language handler^^

[2017-08-16 19:42] hemangsk commented on #72
Ah! Yes definitely,  If we can get escape sequence it will be so much more intuitive to understand coala output  👍
The prettify thing will turn out to be just a fancy highlighting and it won't be as effective as getting the actual colors.

[2017-08-19 10:16] jnnt opened #214 "Online tool hanged on a repo link I pasted"
Repository link: https://github.com/jnnt/pylight.org
I used the default settings.
Thanks :)

[2017-08-19 10:34] SanketDG commented on #214
Looks like it takes a little while, but the results do appear!

![screenshot from 2017-08-19 16-01-28](https://user-images.githubusercontent.com/8980971/29485885-fe34ebe4-84f7-11e7-8d07-6f8120eb2fc3.png)

[2017-08-27 18:54] gabru-md commented on #163
I would like to work on this issue.
It would be really helpful if you could just elaborate it a bit. I mean do I have to just change the 'pre' tags to 'code' tags in the install section?
thank you in advance :D

[2017-08-28 07:16] adtac commented on #163
Wrap the pre part in `<code></code>`

[2017-08-28 09:04] sils opened #215 "This is a test issue"
We're testing gitmate and we need a repo with ~100 issues to do that. Sorry @hemangsk :P

[2017-08-28 11:21] #215 closed

[2017-08-28 13:43] gabru-md commented on #163
I would like to work on it!
Will you please help me  assigning this issue to me ?
Thanks

[2017-08-28 13:48] hemangsk commented on #163
@gabru-md Just do ```corobo assign <issue-url>``` on gitter chat. The bot will assign you to this issue.

[2017-08-28 13:53] gabru-md commented on #163
@hemangsk i've tried it on gitter
[code]
but it said:
[code]
what went wrong in this ?

[2017-08-28 15:12] adtac commented on #163
Use the full URL please.

[2017-08-30 20:44] atishey7 commented on #85
Hello, I am new to open source as well as front end development. I want to work on this issue. Can you tell me what technology should I learn for the same and where should I start in the codebase for fixing this issue? Also I am unable to setup the project landing-frontend as mentioned in README.md as there's no SimpleHTTPServer file.

[2017-08-31 03:23] gabru-md commented on #163
PR #216 has been opened.
Please review. Thanks :D

[2017-09-07 17:51] Raman1121 commented on #69
@sils I am not able to understand this issue. Can you please explain a bit and direct me to the file that needs to be changed.

[2017-09-14 07:46] userzimmermann opened #221 "Embed people's twitter feeds in their profile pages"
@hemangsk @sils Wouldn't it be nice...? :)

[2017-09-15 12:20] fneu opened #222 "'click here' in the About section is not a link"
it should either link somewhere or get removed.

[2017-09-28 11:56] akhil117 commented on #109
We have to add search bar in get involved section for searching the contributors?

[2017-09-28 13:21] meetmangukiya commented on #109
Yes

[2017-09-28 19:54] Makman2 opened #224 "Languages page: Non optional -> Mandatory"
"Mandatory" is shorter than "Non optional" and imo just sounds better :)

[2017-09-28 19:57] Makman2 opened #225 "Languages page: Add bullets to each bear setting with the color from legend"
The legend for each bear setting contains a rounded-square-bullet. We can maybe prepend them to each of the setting to resemble the legend better?

[2017-09-29 12:41] akhil117 commented on #224
Is the changes should be done in language.html?

[2017-09-29 12:49] akhil117 commented on #224
if languages.html it was showing conflict file after git push. Could you help please??

[2017-09-29 13:52] Makman2 commented on #224
You have to resolve the conflicts, seems you've used an older version of this repo. Please google how to do this 👍

[2017-10-01 09:55] vaibhavsingh97 opened #228 "Small Typo in the landing page"
`Coala Online` should be in all caps
#### Screenshot for the issue
![image](https://user-images.githubusercontent.com/8705386/31053509-707760ee-a68e-11e7-9965-d618787e8aff.png)

**Yes, I am interested to fix this issue**

[2017-10-01 10:05] SanketDG commented on #228
You should try pasting `Coala Online` in gitter chat and see what happens :)

[2017-10-01 10:35] vaibhavsingh97 commented on #228
Closing since it's not an issue 😄

[2017-10-01 10:35] #228 closed

[2017-10-02 20:28] #224 closed

[2017-10-04 10:28] co-robo opened #230 "Allow clicking on language labels to filter"
Clicking on `C` should close the bear dialog and filter all bears that support C.
Opened by @adtac at [gitter/coala/coala](https://gitter.im/coala/coala?at=59d4b7dc01110b723175c78f)

[2017-10-04 10:29] co-robo opened #231 "Do not use justify for bear description in bear dialog"
Opened by @adtac at [gitter/coala/coala](https://gitter.im/coala/coala?at=59d4b810177fb9fe7e392da7)

[2017-10-12 14:38] co-robo opened #232 "Fix link to correctly point it to bears documentation"
Opened by @prnvdixit at [gitter/coala/coala](https://gitter.im/coala/coala?at=59df7e79b20c642429f38f5d)

[2017-10-12 14:39] prnvdixit commented on #232
Currently the [link](https://github.com/coala/landing-frontend/blob/9e9262aa5f3f5021723d8246be89b2d67758cb0a/partials/tabs/about.html#L25) in about page points to http://coala.io/#!/languages, change it to point to https://coala.io/#/languages

[2017-10-15 12:49] #222 closed

[2017-10-20 08:56] stellargo opened #233 "Show more contributors button"
The Show more contributors button should vanish when the list exhausts at https://coala.io/#/getinvolved

EDIT by @Makman2:
contribut~~e~~ors :smile:

[2017-10-23 12:11] #232 closed

[2017-10-24 14:22] blazeu opened #235 "Use assets bundler and proper dependency manager"
See https://medium.freecodecamp.org/javascript-modules-part-2-module-bundling-5020383cf306

### TL;DR
- Having many <script> and <style> tags sucks and makes loading slow
- Combine all assets into a single `.js` & `.css` file ([Webpack](https://webpack.js.org/) preferred)
- Since we're probably gonna use ES2015 modules to import modules/scripts, we can write **all** the codes in ES2015+ and have [

[2017-10-25 08:34] hemangsk opened #236 "coalaOnline: Documenting the process"
A tutorial explaining the usage of coala Online on coala.io, with the help of relevant screenshots of steps to be taken,
- To select bears
- To set optional + non optional settings
- To trigger coala and how to use the coafile obtained.

This tutorial would go in the README.md of this repository.

initiatives/gci

[2017-10-27 13:56] co-robo opened #237 "Add ISSUE_TEMPALTE.md"
Add a file named `ISSUE_TEMPLATE.md` which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f33af7614889d4750961a3)

[2017-11-03 07:55] deshmukhmayur commented on #69
Can I work on this?

It can also be done using the `document.execCommand('copy')` in plain javascript,
Or can also be done using clipboard.js or zeroclipboard.

[2017-11-03 08:31] yashovardhanagrawal commented on #194
I have assigned myself this issue

[2017-11-03 08:33] yashovardhanagrawal commented on #194
@IpshitaC are you working on it?
if yes then I should unassign myself

and is this issue even needed?

[2017-11-03 08:36] yashovardhanagrawal commented on #192
@yashpratapsingh are you working on it?

if not then @hemangsk kindly unassign him so that I can work on this issue

[2017-11-03 11:21] yashovardhanagrawal commented on #233
I am thinking to work on this issue

[2017-11-03 11:24] yashovardhanagrawal commented on #183
I think @Arsfiqball is not working on this issue you might assign it to me 😄

[2017-11-03 11:24] yashovardhanagrawal commented on #233
copy of https://github.com/coala/landing-frontend/issues/183

[2017-11-04 06:36] #233 closed

[2017-11-05 17:20] newbazz commented on #81
I would like to work on this issue if no one is working.

[2017-11-05 21:11] Makman2 commented on #81
Unassigning due to inactivity.

[2017-11-06 18:59] newbazz commented on #81
Can someone explain this issue?

[2017-11-07 09:43] aashutoshrathi commented on #230
Can I work on this?

[2017-11-07 10:56] yashovardhanagrawal opened #240 "Typo Error in people.html"
in `partials/tabs/people.html`

there's a typo at line 32 & 33

`</dib>
</dib>`

is written instead of div

[2017-11-07 18:01] yashovardhanagrawal opened #241 "Make a better README.md"
Make a better and more explanatory README.md

[2017-11-09 18:39] yashovardhanagrawal opened #242 "Fix Indentation in the Project"
Most of the files in the project do not have the correct indentation on every line.

[2017-11-10 17:45] newbazz commented on #165
I would like to work on this issue.

[2017-11-12 21:22] Makman2 opened #243 "Gamification System"
Inspired by @jayvdb from https://blog.musicbrainz.org/2016/08/21/bookbrainz-gsoc-gamification-system/
Let's do something similar, a public page for every contributor having some kind of cool stats and achievements.

E.g.
- 100 lines of code written (additions + deletions) -> "Newbie hacker"
- 1000 lines of code written -> "Experienced hacker"
- 1 commit / solve a newcomer issue -> "Newcomer"
- 1 r

[2017-11-12 21:30] Makman2 commented on #243
And also some kind of ranks / levels would be quite cool.
I think achievements could count to this level/rank and also number of commits / reviews / issues solved (also depending on the issue difficulty) and similar stats.

[2017-11-12 22:17] Makman2 commented on #243
Oh and especially I would love to see nice images for achievements :D

[2017-11-12 23:58] jayvdb commented on #243
c.f. http://projects.coala.io/#/projects?project=newcomer_metrics_and_gamification

[2017-11-13 16:06] yashovardhanagrawal commented on #242
difficulty/low

[2017-11-13 20:17] shreyans800755 commented on #243
@Makman2 Seems pretty cool idea.
I've seen similar thing on one of the sites called `projecteuler.net`

Here's a snapshot of a user profile:
![screenshot from 2017-11-14 01-34-27](https://user-images.githubusercontent.com/3727351/32746815-d5b9a1ae-c8dc-11e7-8f53-42fc88d22068.png)

Do we want to create a separate page for each contributors on our site or just a single page with thumbnails of all th

[2017-11-14 05:35] #163 closed

[2017-11-14 07:03] co-robo opened #244 "people.html: Correct typo of div"
in `partials/tabs/people.html`
there's a typo at line 32 & 33
`</dib>
</dib>`
is written instead of div
difficulty/newcomer
Opened by @yashovardhanagrawal at [Gitter](https://gitter.im/coala/coala?at=5a0a9539505b630c05dda7d9)

[2017-11-14 07:03] #240 closed

[2017-11-14 07:12] co-robo opened #245 "Fix Indentation in the Project"
Most of the files in the project do not have the correct indentation on every line.
difficulty/low
Opened by @yashovardhanagrawal at [Gitter](https://gitter.im/coala/coala?at=5a0a9767ba39a53f1a98e414)

[2017-11-14 07:12] #242 closed

[2017-11-14 07:13] yashovardhanagrawal commented on #245
label this initiatives/gci

[2017-11-14 07:14] yashovardhanagrawal commented on #244
label this initiatives/gci

[2017-11-15 19:36] Makman2 commented on #242
Please don't close issues without a reason and duplicating them, rather ask a maintainer to edit them if necessary :+1:

[2017-11-15 19:40] yashovardhanagrawal commented on #242
@Makman2 I thought asking corobo to make issues is the standard here mostly, as it also adds the labels, thats why I closed it.

will not duplicate issues from next time

[2017-11-15 19:47] prnvdixit commented on #242
Not necessary ^^ - You can add the labels in the issue description (at the time of making the issue) as eg. "labels: difficulty/newcomer" and it is probable (if everything goes right 😉) that gitmate will do it for you. Either way, if it doesn't work - Just ask someone on gitter channel to add relevant labels 👍

[2017-11-18 02:53] Makman2 opened #246 "Remove DigitalOcean as a sponsor on main page"
CC @sils, want to confirm that they are not sponsoring us any more.

[2017-11-18 03:48] jayvdb commented on #29
Which Calendar?

[2017-11-18 05:21] jayvdb commented on #142
Note this would be fixed automagically if we let Netlify run this website.  c.f. https://github.com/coala/landing-frontend/pull/247

[2017-11-18 05:28] jayvdb opened #248 "Add .coafile and Travis CI for verification of PRs"
The contents of this repo are not being checked, resulting in https://github.com/coala/landing-frontend/issues/245 and https://github.com/coala/landing-frontend/issues/244

[2017-11-18 07:10] jayvdb commented on #142
Actually not automagically. Netlify redirects need to be added.

[2017-11-18 07:10] jayvdb commented on #29
Oh, I see it on http://coala.io/#/getinvolved

[2017-11-18 08:33] sils commented on #246
@Makman2 actually they've readed the sponsorship, just took them a bit so I had to pay one month and after that they added it again

[2017-11-18 08:33] #246 closed

[2017-11-18 18:15] Makman2 commented on #142
Actually when I type `coala.io` into firefox it gives me the https site^^ But maybe it's just a firefox feature trying https first^^

[2017-11-19 05:14] #248 closed

[2017-11-19 05:37] #183 closed

[2017-11-22 02:49] jayvdb opened #249 "Display a generic bear as the default on the homepage"
Copying idea from https://github.com/coala/website-old/issues/43

[2017-11-22 03:09] jayvdb opened #250 "Add logos of Programming languages"
https://coala.io/#/languages is very 'bear' focused.

The link to it says Languages; it should focus on languages.

And have logos.

[2017-11-22 03:09] jayvdb commented on #250
Copied from https://github.com/coala/website-old/issues/15

[2017-11-26 12:01] adtac opened #251 "Online demo: allow configuring bears, settings"
https://i.imgur.com/nzy0UyM.png

Migrated from https://gitlab.com/coala/new-website-prototype/issues/4

[2017-11-26 12:04] adtac commented on #251
Actually, this is done :D

[2017-11-26 12:04] #251 closed

[2017-12-16 11:29] hemangsk commented on #202
Fixed at coala/devops by making whole directory writeable

[2017-12-16 11:29] #202 closed

[2017-12-21 09:40] jayvdb commented on #250
e.g. add the Perl logo (https://www.networkcomputing.com/sites/default/files/resources/nwc/10-Perl.jpg ?) for Perl.  and the same for other programming languages.

[2017-12-21 09:42] jayvdb commented on #250
Split the results into a set for language specific tools (PerlCriticBear) and generic tools (FilenameBear)

[2017-12-21 13:09] jayvdb opened #252 "Mention coala-brackets"
https://github.com/coala/coala-brackets should be in the list of editor plugins on https://coala.io

[2017-12-21 13:15] jayvdb commented on #252
Also add https://github.com/coala/coala-eclipse/

[2017-12-21 19:52] mridubhatnagar opened #253 "Mention about HAMLLintBear"
https://coala.io/#/languages

cc @IpshitaC

[2017-12-22 04:00] pareksha commented on #244
I am a newcomer. Can I work on this issue?

[2017-12-22 07:00] yashovardhanagrawal commented on #244
great! just ask a maintainer on Gitter to assign you this task!
make sure to read coala.io/newcomer before starting to contribute here :smile:

[2017-12-22 07:02] pareksha commented on #244
Sure, thankyou

[2017-12-22 17:09] k4ni5h commented on #252
can i work on this issue?

[2017-12-23 09:06] IpshitaC opened #256 "Add HAML snippet"
Add code snippet for HAML

https://github.com/coala/landing-frontend/tree/master/data/snippets

[2017-12-29 18:55] #244 closed

[2017-12-29 18:59] #256 closed

[2017-12-30 10:25] sangamcse commented on #250
@jayvdb I want to add a css class in coala.css

[2017-12-30 20:04] manankalra commented on #253
Hey @mridubhatnagar, can you guide me a little on which file needs to be changed?

[2018-01-05 06:25] nityanandagohain commented on #253
I want to work on this.

[2018-01-06 12:32] Jai-Z commented on #253
Hello, I'd like to work on this issue. @mridubhatnagar

[2018-01-07 17:17] sangamcse commented on #250
@Makman2 Sorry but I think I should do it. Can you assign it once again? 😃

[2018-01-09 17:12] naveentata commented on #230
I'd like to work on this, I have made the changes. However, I am unable to assign the issue can I send the PR?

[2018-01-15 20:59] #252 closed

[2018-01-15 21:02] #230 closed

[2018-01-15 21:05] hemangsk opened #262 "Improving Issue Template"
It'd be nice to have some project specific instructions in the issue template, like
- Users attaching screenshot  (since this is a website, it makes sense)
- Mentioning device / screen resolution

[2018-01-16 20:03] Makman2 commented on #262
Sounds good ;)

[2018-02-08 13:55] eeshan9815 commented on #253
If no one is working on it, I'd like to be assigned to this issue.
@mridubhatnagar @Makman2

[2018-03-11 17:22] Makman2 opened #263 "cOALA - Intentional or Typo?"
Should be changed to https://prnt.sc/ipqaz5 as per discussion on https://github.com/coala/coala/issues/5249 :smile:

[2018-03-11 23:08] guilherme-p commented on #263
Can I be assigned to this? @Makman2

[2018-03-12 19:00] IcePinguin commented on #250
@Makman2 can I work on this

[2018-03-13 20:10] HarryWang1 opened #264 "difficulty/newcomer"
how to add LICENSE to this repo?

[2018-03-13 20:16] HarryWang1 commented on #262
Looks nice

[2018-03-13 20:18] HarryWang1 opened #265 "difficulty/low"
A lot of repositories do not have recognized LICENSE. How do we fix that?

[2018-03-14 22:58] Makman2 commented on #264
We have a license.

[2018-03-14 22:58] #264 closed

[2018-03-14 22:59] Makman2 commented on #265
Is this related to this repository? GitHub properly detects it here. Please open up issues in the relevant repos.

[2018-03-14 22:59] #265 closed

[2018-03-22 08:48] HyeockJinKim opened #267 "Java example in "get started" is missing"
java got missing from get started at [https://coala.io/#/home#installation](https://coala.io/#/home#installation)
I think that get started for Java should be added.

[2018-03-22 14:34] sangamcse opened #268 "Add fork-me ribbon"

[2018-03-29 06:45] #263 closed

[2018-03-29 12:00] jayvdb commented on #195
This issue seems stale!

@sils please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:00] jayvdb commented on #192
This issue seems stale!

@carlsontim please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:00] jayvdb commented on #188
This issue seems stale!

@sd5869 please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:00] jayvdb commented on #165
This issue seems stale!

@hemangsk please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:00] jayvdb commented on #148
This issue seems stale!

@hemangsk please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:00] jayvdb commented on #133
This issue seems stale!

@gkrishnan724 please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:00] jayvdb commented on #85
This issue seems stale!

@harshant please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:00] jayvdb commented on #69
This issue seems stale!

@deshmukhmayur please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:01] jayvdb commented on #63
This issue seems stale!

@ankit01ojha please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:01] jayvdb commented on #41
This issue seems stale!

@hemangsk please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-03-29 12:01] jayvdb commented on #9
This issue seems stale!

@Shrey97 please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-04-09 11:11] hemangsk opened #270 ""Add Bear" Button : Change font family to Roboto from Times New Roman"
From coala Online :
<img width="226" alt="screen shot 2018-04-09 at 4 40 06 pm" src="https://user-images.githubusercontent.com/13018570/38494791-ccea34de-3c14-11e8-922d-63cd383957a0.png">

[2018-04-09 11:11] jayvdb commented on #270
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-04-09 11:13] hemangsk commented on #270
Also I think it makes sense to centre align this button to improve its visibility

[2018-04-09 11:15] hemangsk opened #271 "Linking projects.coala.io"
Just an idea: we can have a "Get Started with Projects" section on the front page, after the "getting started" section. This is where we can show users and prospective developers about projects going on at coala in which they can participate.

[2018-04-09 11:17] hemangsk opened #272 "Languages: Empty space in bear details view box"
<img width="1384" alt="screen shot 2018-04-09 at 4 46 26 pm" src="https://user-images.githubusercontent.com/13018570/38494996-9c816866-3c15-11e8-8fb6-15d439295bd3.png">

Might require fixing in coalaCSS

[2018-05-15 07:59] fatma-mohamed commented on #267
Hi :) I would like to be assigned to this issue.

[2018-05-16 08:26] sagban commented on #253
Can you please assigned this to me?

[2018-05-16 14:59] sagban commented on #253
Okay, where I can find the list of all the added bears?
Also, can I modify the UI of the these thumbnails and the overlay open after clicking on the thumbnail.
 Ideally the height if the thumbnail should not be fixed. Like Img 1
![screen shot 2018-05-16 at 8 26 14 pm](https://user-images.githubusercontent.com/22216896/40125099-b1284d3a-5947-11e8-9ba7-41b559db26ec.png)
not img 2
![screen shot 2018-

[2018-05-21 14:42] sagban commented on #241
In README.md, there should be written usage for python3 also.
Like,
python3 -m http.server 8080

[2018-05-21 16:15] bekicot opened #276 "Move Lua snippet After Json on DropDown List"
Related File: https://github.com/coala/landing-frontend/blob/master/resources/js/snippets.js#L18

[2018-05-23 09:19] bekicot opened #277 "Bookmarkable example on homepage"
Currently, when selecting to a language example, we have no way to bookmark it.

![image](https://user-images.githubusercontent.com/1826884/40415238-a83a84f6-5ea4-11e8-9b48-0967480c4c8d.png)

This can be done via adding a query parameter to the url after the selection.
and add
[code]
after adding id to the example's `div`

[2018-05-23 09:20] bekicot commented on #277
@jayvdb If, you reconsider this as not a `newcomer`, please assign me this, as my other task currently waiting for approval / blocked.

[2018-05-27 12:58] jsecrest commented on #276
Could I please be assigned to this task?

[2018-05-30 04:42] #276 closed

[2018-05-30 19:36] ShubhamBansal1997 commented on #237
@jayvdb Please assign this to me.

[2018-05-31 00:00] jayvdb commented on #253
This issue seems stale!

@sagban please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-05-31 12:49] Makman2 opened #279 "Scroll in About page"
Migrated from https://github.com/coala/coala/issues/5477

![coala-about](https://user-images.githubusercontent.com/7964257/40475964-7cb94e72-5f60-11e8-8040-f3155740aaec.png)

We can put scroll or decrease padding as mentioned in attached snapshot.

I am assuming that website https://coala.io/#/about code maintained from here only. If not, please transfer issue to associated repo.

[2018-06-05 05:55] sagban commented on #241
Can I do this?
I faced lot of problems while setting up this repository, so I've some idea what majorly needed to add in this.

[2018-06-07 10:48] #267 closed

[2018-06-19 09:16] sagban commented on #241
Make some changes in readme.md file, see [https://github.com/coala/landing-frontend/pull/281](this)

[2018-06-20 00:00] jayvdb commented on #237
This issue seems stale!

@ShubhamBansal1997 please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-06-20 07:53] ShubhamBansal1997 commented on #237
@jayvdb yes Please reassign, I am working on it

[2018-06-29 16:17] aishna2502 commented on #279
I'd like to contribute. Is this issue available @jayvdb ?

[2018-07-04 00:00] jayvdb commented on #241
This issue seems stale!

@sagban please reassign yourself if you're still working on this.

(Powered by [GitMate.io](https://gitmate.io))

[2018-07-07 07:37] joeytwiddle opened #282 "Coala Online is broken due to CORS"
https://coala.io/#/coalaonline does not work due to the SOP security restrictions in browsers. This is bad for Coala marketing and therefore adoption!

[code]

We can use CORS to get past these restrictions. ([MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), [Wikipedia](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing))

To do that, we must add some HTTP headers to the resp

[2018-07-07 16:56] hemangsk commented on #282
Its here https://gitlab.com/gitmate/open-source/gitmate-2/

[2018-07-07 17:56] joeytwiddle commented on #282
Thank you. I have posted an issue to that project: https://gitlab.com/gitmate/open-source/gitmate-2/issues/392

[2018-07-31 14:58] hrithik-jha commented on #270
Hi, I'd like to work on this. Where is the button exactly?

[2018-08-10 03:03] vaibhav9619 commented on #270
please assign me this issue

[2018-08-11 09:35] manangoel99 commented on #270
Can I work on this?

[2018-08-13 17:18] jayvdb commented on #270
Can you find the file which needs to be modified?
If you cant find the right file, this task isnt suitable for you.
Reply here thanks.

[2018-08-14 01:51] jayvdb commented on #270
The button does not need to be added.  It is already in the page.  The font needs to change.

btw, you can see it in action at https://coala.io/#/coalaonline

[2018-08-28 00:57] #270 closed

[2018-08-31 10:39] rak-shit commented on #69
@jayvdb  Hello! I am a newbie here. I think this issue is not assigned to anyone. Can you please assign the issue to me.

[2018-09-01 13:43] jayvdb commented on #277
@anstkras , sorry for the delay, yes, assigned to you

[2018-09-01 14:15] jayvdb commented on #69
@rak-shit , you need to finish coala/coala#5736 before being assigned a new issue.  Please follow https://coala.io/newcomer process .

[2018-09-21 18:10] abhishalya commented on #69
@jayvdb Please assign this to me. I would be happy to work :)

[2018-10-02 15:22] palash25 commented on #69
Since no one is working on it and it is unassigned @abhishalya you can start working on this

[2018-10-03 16:33] Ishaan28malik commented on #282
can i solve this issue please assign me this one .

[2018-10-03 16:34] Ishaan28malik commented on #245
can i work on this ?

[2018-10-03 16:35] Ishaan28malik commented on #245
is it open for me to solve this issue or not ?

[2018-10-03 16:37] Ishaan28malik commented on #277
is someone working on this?

[2018-10-03 16:37] Ishaan28malik commented on #277
if not please assign me this

[2018-10-03 17:56] yashovardhanagrawal commented on #245
@Ishaan28malik ask a maintainer on the gitter chat to get assigned to the issue

[2018-10-11 01:45] #69 closed

[2018-10-13 02:29] #277 closed

[2018-10-17 10:49] PrajwalM2212 opened #289 "The Language search feature on website is not working"
<img width="1680" alt="screen shot 2018-09-21 at 8 59 44 am" src="https://user-images.githubusercontent.com/30733262/45858803-b5e3ce00-bd7c-11e8-9ef8-602b387eb070.png">

[2018-10-17 10:51] PrajwalM2212 commented on #289
@AMR-KELEG  reported that the issue was with the api: https://webservices.coala.io/list/bears
The request returns an empty json response. https://github.com/coala/coala-bears/issues/2692#issuecomment-427609936

[2018-10-17 10:57] PrajwalM2212 commented on #289
The backend can be found at  https://gitlab.com/coala/landing if the issue is with the api.

[2018-10-26 20:21] srivama opened #290 "Make the year in the footer dynamic"
The year in the footer of the website coala.io is set to 2017. Instead of changing it every year, it can be set to current year.

The file can be found [here](https://github.com/coala/landing-frontend/blob/master/includes/footer.html)

[2018-10-27 08:35] Vaibhav911 commented on #290
I would really like to work on this as my newcomer issue. Can someone assign me this? Thanks.

[2018-10-27 15:19] srivama commented on #290
@Vaibhav911 You can ask a maintainer on our gitter channel to get the issue assigned :)

[2018-10-29 04:21] #290 closed, assigned to nobody

[2018-10-30 08:08] fireballpoint1 commented on #237
@jayvdb please assign this to me
Also the current template file merely has a comment to the instruction link ( can be seen only in raw). Do we want to add the same this as [here](https://github.com/coala/coala/blob/master/CONTRIBUTING.rst#filing-issues) in this template ?

[2018-11-10 07:32] brute4s99 commented on #9
I would like to work on this issue!

[2018-11-13 13:06] bharatpurohit97 commented on #85
please assign me this issue.

[2018-11-18 19:58] phoenixking25 commented on #268
assign me this @sangamcse

[2018-11-20 20:31] pandeynandancse opened #293 "Add an option of search in dropdown so that no need of sliding to search languge"

[2018-11-22 11:48] tanmaysachan commented on #293
I'd like to work on this issue :)

[2018-11-22 18:34] #85 closed

[2018-11-28 07:58] pandeynandancse commented on #293
I want  to work on this issue,please assign me for this work

[2018-12-07 08:33] AkshJain99 commented on #268
can i be assigned to this issue?

[2018-12-07 09:03] li-boxuan commented on #268
Why do we need a fork-me ribbon on https://coala.io?

[2018-12-07 09:06] AkshJain99 commented on #268
This is because for the users, they can directly go to coala main repo on github

[2018-12-07 09:08] AkshJain99 commented on #268
if you think this issue need to be solved please assign it to me

[2018-12-07 09:12] li-boxuan commented on #268
‘fork me' - fork what? the website repo? or coala main repo?
Besides, there is already a 'SOURCE' button on coala homepage. Do we need a ribbon?

@AkshJain99 I suggest you wait until some consensus is reached. If you are keen on solving this issue, probably you can do a quick prototype, and people can discuss in this thread before any serious work begins.

[2018-12-07 09:19] AkshJain99 commented on #268
Okay then I will search for another issue

On Fri, 7 Dec 2018, 2:42 pm Boxuan Li <notifications@github.com wrote:

[2018-12-07 15:40] li-boxuan commented on #279
Seems padding has already been fixed. I'll close this issue atm.

[2018-12-07 15:54] AkshJain99 commented on #94
Is this issue still need to be solved then i would like to be assigned?

[2018-12-07 16:14] AkshJain99 commented on #94
@li-boxuan we can have any meaningful python code to show as an example isn't it?

[2018-12-07 19:09] AkshJain99 opened #295 "Animation effects of Tabs only change while going back from ABOUT section though the page changes"
refer https://github.com/coala/projects/issues/179
while changing tabs from about to others and then coming back through back button on browser works fine but if we see other section except ABOUT  then same problem is there as in refered issue

[2018-12-09 15:17] rajdeepbharati commented on #194
@IpshitaC @yashovardhanagrawal What needs to be done? Use href instead of tc.setTab?

[2018-12-09 17:52] AkshJain99 commented on #268
do we need to add ribbon ?

[2018-12-10 13:35] AkshJain99 commented on #295
@li-boxuan please assign me this issue i know the solution to this problem I have solved similar problem like this in projects repo

[2018-12-10 15:43] naveentvelu commented on #295
@AkshJain99 Were you able to solve this without compromising the animation effect?

[2018-12-10 15:45] AkshJain99 commented on #295
animation effects like what @naveentvelu

[2018-12-10 15:54] AkshJain99 commented on #295
yes this is solved without compromising animation effect .

[2018-12-10 16:03] naveentvelu commented on #295
The sliding effect of the indicator below the tab

[2018-12-10 16:07] AkshJain99 commented on #295
yes that is the only thing what need to be fixed in the issue right?

[2018-12-10 16:13] naveentvelu commented on #295
Previously the tab indicator was not moving.
I was trying to figure out that by including some scripts which mode the tab indicator movement sudden and not smooth.
That's y i asked whether the movement of the indicator was animated or not.

[2018-12-10 16:14] AkshJain99 commented on #295
@naveentvelu  it is working fine now

[2018-12-10 16:14] naveentvelu commented on #295
Cool @AkshJain99

[2018-12-11 18:47] AkshJain99 commented on #63
is this issue still open or need work?

[2018-12-11 18:55] AkshJain99 commented on #61
so is this issue  need to get fixed

[2018-12-13 16:19] AkshJain99 commented on #272
how can i see the bears as searching bear feature is not working on the website

[2018-12-13 17:21] AkshJain99 commented on #279
but issue is not fix till now

[2018-12-13 17:25] AkshJain99 opened #297 ""File caching support - run only on changed file" Text not compeletly Visible"
![screenshot_2018-12-13 coala](https://user-images.githubusercontent.com/29670791/49955942-0dcc4400-ff2a-11e8-88e8-65e813349062.png)
Either we should adjust the text or need to implement scrolling feature

[2018-12-14 01:32] li-boxuan commented on #297
Duplicate of https://github.com/coala/landing-frontend/issues/279

[2018-12-14 01:32] #297 closed

[2018-12-14 01:33] li-boxuan commented on #279
@AkshJain99 It works for me, so maybe it has browser compatibility issues... Can you confirm under what circumstance you can see the overflow?

[2018-12-14 03:55] AkshJain99 commented on #279
@li-boxuan  I have checked it on Firefox,  Chrome and other browser too, and seems problem is same everywhere.
But it is for desktop version it is working fine with mobile version

[2018-12-15 08:07] AkshJain99 commented on #279
@li-boxuan  what is your opinion on this issue?

[2018-12-15 12:03] AkshJain99 commented on #279
@li-boxuan  it is working for mobile view but not for desktop view padding need to be correct for this
if you think it need changes then assign me this issue

[2018-12-19 20:44] AkshJain99 commented on #272
@hemangsk  is this issue still need work if yes please assign it to me

[2018-12-29 15:37] ayan-b commented on #279
Not working for me as well if the screen size is lowered.

[2018-12-29 15:43] AkshJain99 commented on #279
ya this is the problem is desktop view in mobile view it is fine

[2019-01-04 13:53] #295 closed

[2019-01-05 17:14] KVGarg commented on #289
I have been trying to figure what is the problem in api, but couldn't find it.
but while i was going through settings, the domain `webservices.coala.io` was not mentioned in ALLOWED_HOSTS. Maybe, due to this there is nothing in JSON response or the errors are raised.
Every url in `coala_web.urls` is giving response, while running the app locally, but the production app is giving either `Server Err

[2019-01-05 21:04] hemangsk commented on #289
maybe to reproduce this we need to run the backend with docker to get the exact environment. I could reproduce it earlier by running it with the given dockerfile in coala/landing repo on gitlab. Related https://gitlab.com/coala/package_manager/issues/150

[2019-01-06 10:23] KVGarg commented on #289
Also, when i run the backend with [these](https://gitlab.com/coala/landing#run-it-in-docker) instruction, it logs in terminal that it is  listening at url - `http://0.0.0.0:8000` but on surfing this url, it says `Bad Request(400)` and when i tried `127.0.01:8000` the backend works properly as mentioned in my above comment.
Is this acceptable, with that `Bad reques 400` error ?

Also running the `c

[2019-01-07 10:50] bharatpurohit97 opened #298 "About page in Mobile view is not proper"
### About Page in Mobile view is looks like -

![screenshot_2019-01-07-14-32-09](https://user-images.githubusercontent.com/40547237/50764057-9c1cb700-1297-11e9-8764-cb1c13bebd0b.png)

We can put scroll or decrease padding in about.

[2019-01-07 14:03] AkshJain99 commented on #272
how can I solve this issue if it need changes in coala.css

[2019-01-07 14:06] AkshJain99 commented on #272
And also before solving this bear page should work isn't?

[2019-01-08 14:40] AkshJain99 commented on #298
It is fine , no need to add scroll, you should check it once again @bharatpurohit97

[2019-01-08 14:41] AkshJain99 commented on #272
@hemangsk  or @li-boxuan  how can i slove this issue until bear search feature will not work?

[2019-01-09 10:54] shashank-b opened #299 "docs.coala.io: Header's aspect ratio not consistent (in mobile browsers)"
### Overview Description
The coala header in https://docs.coala.io/en/latest/ gets scaled only horizontally when viewed using mobile browsers leading to a distortion of the logo. It would be better if the consistency of the logo is maintained, else the koala bear starts looking like a starved chipmunk :smile:
### Steps to Reproduce

1. Open https://docs.coala.io/en/latest/ in any mobile web browse

[2019-01-09 11:16] bharatpurohit97 commented on #298
@AkshJain99 in mobile view, second paragraph about coala is not there and also in first paragraph `configuration syntax` is not proper.

[2019-01-09 17:09] AkshJain99 commented on #298
okay i think it should be a newcomers issue

[2019-01-09 17:13] AkshJain99 commented on #272
@hemangsk please tell me how  can i solve this issue  ithink another issue need to be resolved first to solve this issue

[2019-01-10 09:30] shashank-b opened #300 "api.coala.io: Header's aspect ratio not consistent (in mobile browsers)"
This issue is very similar to https://github.com/coala/landing-frontend/issues/299. Everything there holds true for this one, just that this one is for api.coala.io instead of docs.coala.io.
This would make a nice newcomer issue. Once one of them is solved, the person can follow the same process to solve the other one.
## Overview Description
The coala header in https://api.coala.io/en/latest/ get

[2019-01-10 09:31] shashank-b commented on #300
Thanks to @kartikey0303 for pointing out that the issue exists for api.coala.io as well.

[2019-01-10 11:35] shashank-b opened #301 "get_involved tab: Typo in the words 'newcomers' guide'"
To remain consistent with the title of the page that the link is leading to and with the rest of the docs and website, the words `newcomer guide` should be changed to `newcomers' guide`. Although this issue is trivial, since this is one of the first pages a developer sees, this should be definitely be corrected.

This could be a suitable issue for newcomers.

[2019-01-10 13:00] shashank-b commented on #300
Something like this could also be done (source: webservices.coala.io on a mobile browser):
<img src="https://github.com/shashank-b/temp/blob/master/coala_frontend_good_header.png?raw=true" alt="Good Header" width=200>

[2019-01-10 13:00] shashank-b commented on #299
Something like this could also be done (source: webservices.coala.io on a mobile browser):
<img src="https://github.com/shashank-b/temp/blob/master/coala_frontend_good_header.png?raw=true" alt="Good Header" width=200>

[2019-01-11 13:20] Anmolbansal1 commented on #299
Sir can I work on this issue.

[2019-01-11 15:02] shashank-b commented on #299
Hi @Anmolbansal1. Please go through the Newcomers' Guide, read it, get an invite and then a maintainer would assign you the issue. And please don't call anyone Sir/Ma'am at coala :slightly_smiling_face:.

[2019-01-11 19:06] Anmolbansal1 commented on #299
I have gone through Newcomers' Guide and want to work on this issue for my newcomer pr. I have sent Hello World to the gitter channel but hadn't received invitation mail yet.

[2019-01-11 21:11] AyahRamahi commented on #300
Can i work on this?

[2019-01-13 12:34] AkshJain99 commented on #298
should we increase the size of padding and pixels or should we add scrolling feature there because if we increase padding in mobile view than extra space is remaining in the desktop view @bharatpurohit97

[2019-01-13 15:28] AkshJain99 commented on #289
@KVGarg  in my case when i am trying to migrate it as per instructions it throws me error
[code]

can u share what error You are getting when you are running it locally

[2019-01-13 16:46] KVGarg commented on #289
The error you are getting is concerned with the environment variables. CRON variables like BEAR_CRON_TIME value is being retrieved from the environment variables. In my case also i was also getting the same error then I replaced the value of BEAR_CRON_TIME to '*/200 * * * *'.
Changing to this will solve your error, but it isn't recommendable i guess.

[2019-01-13 20:45] AkshJain99 commented on #289
ya because it is when we run the environment locally using docker

[2019-01-16 04:55] roshnet commented on #300
Hi. Can I be assigned this issue?

[2019-01-19 19:01] Anmolbansal1 commented on #299
@shashank-b @li-boxuan please review my pr related to this issue.

[2019-02-04 07:31] sangamcse commented on #299
As per the last discussion that I remember (Don't remember which channel or issue), the idea was to create an SVG version of coala-header and sync it with the repo which is using PNG version of coala-header. I have already added the SVG version of [coala-header](https://github.com/coala/artwork/blob/master/artwork/logo/coala-header.svg).

[2019-02-13 16:26] rathovarun commented on #300
Hi can i work on this issue?

[2019-02-13 19:11] Ghoughpteighbteau commented on #289
I'm just investigating integrating coala into our stack, and the language search tool doesn't even make a request to an API

![Image of network activity for search](https://i.imgur.com/L9CLloV.png)

no json. In the mean time, where should I be looking for a list of bears?

[2019-02-13 19:13] AkshJain99 commented on #289
You can look to coala bear repo there is a link provided in readme.md which
contains all the bears list which coala is using

On Thu, 14 Feb 2019, 12:41 am Ghoughpteighbteau <notifications@github.com
wrote:

[2019-02-13 19:15] Ghoughpteighbteau commented on #289
Ah, thanks for the heads up. Link for the lazy: https://github.com/coala/bear-docs/

[2019-02-24 20:44] LakshyAAAgrawal commented on #293
Hey,
I would like to fix this up. I have requested access to gitlab, however, haven't yet received it. If no one else is currently working on this, Could I please be assigned this issue?

[2019-03-02 04:49] piyush072 commented on #300
Can I be assigned to this issue?

[2019-04-01 13:26] lzylucy commented on #293
Hey I would like to work on this issue! Could I be assigned to work on this?

[2019-04-15 16:55] Iworley0001 commented on #300
Hey I will take this issues

[2019-04-15 17:23] Iworley0001 commented on #268
I can take it

[2019-05-31 11:46] sachinam1397 commented on #300
@jayvdb can you assign me this issue i want to work on this

[2019-08-13 19:10] ryanleonbutler commented on #282
I see this issue is still open, however I could not replicate the issue from my side. I see no CORS errors in the Console tab when using my Chrome Developer Tools.
See screenshot:
![no_errors](https://user-images.githubusercontent.com/32143470/62968109-a7762900-be0a-11e9-8d88-fd90dbe98ac7.PNG)

Further to this, it seems this asset is no longer available:
https://api.gitmate.io/coala_online

Just f

[2019-08-18 07:18] KVGarg commented on #132
The ranking system has been implemented on coala/community website. There we've two models:
1. [Meta-Review](http://community.coala.io/meta-review/) App and,
2. [Gamification System](http://community.coala.io/gamification/)

Both of them includes rank based on certain factors.

[2019-08-28 02:38] joeytwiddle commented on #282
I don't think it makes sense to close the issue, because Coala Online is still not working.

Thanks for your examples @ryanleonbutler, although I think they should be targetting `https://api.gitmate.io/coala_online/` since that is the API request that is failing.

But as you say, api.gitmate.io is offline at the moment. That's why we don't see any CORS error.

So the task now is to get api.gitmate

[2019-08-30 02:56] amreshk005 commented on #293
@pandeynandancse is this issue fixed, if not can I work on this?

[2019-10-18 15:38] av4l4nc14 commented on #300
Can I be assigned this issue?

[2019-10-22 17:30] sims1253 commented on #300
@av4l4nc14 are you still interested?

[2019-11-10 19:46] ektaarora3501 commented on #293
@pandeynandancse  is the issue still open ,if not can I be assigned?

[2019-11-10 19:55] ektaarora3501 commented on #300
Can I be assigned this issue?

[2019-11-18 03:52] gr455 commented on #300
Hey, Can I be assigned this issue?

[2019-12-15 06:10] viragumathe5 commented on #237
Hey If anybody is not working on this issue please assign it to me as the last activity was from 30th Oct 2018 please assign this issue to me

[2019-12-15 06:21] viragumathe5 commented on #9
Hey Hi if anybody is not working on this issue please assign it to me there is no activity on this issue since Nov 27, 2018
I would really like to work on this issue

[2019-12-15 08:50] tm9k1 commented on #9
I'm not working on it.

On Sun, 15 Dec, 2019, 11:51 AM Virag Umathe, <notifications@github.com>
wrote:

[2019-12-15 08:58] viragumathe5 commented on #9
ok thank you for your confirmation @brute4s99

If no one else is working on this issue may I work on it
@tanmaysachan you are assigned to this issue please update me

[2019-12-15 15:12] viragumathe5 commented on #262
Since no one is working on this project sholud I start working on this issue

[2020-01-09 13:58] akhil-eppa commented on #300
Hi, can I be assigned this issue?

[2020-02-15 22:54] comradekingu opened #303 "Strange string change"
https://hosted.weblate.org/translate/coala/gci-leaders/en/?checksum=bf4e096f27c5759
got changed to "Don't know" with four dots following it…

By this person https://hosted.weblate.org/user/nrsorte/

[2020-05-02 13:51] abhishalya opened #304 "coala.io is down!"
coala.io is down from a couple of days.

cc. @sils @jayvdb

[2020-05-03 20:26] sils commented on #304
I've pinged Fabian personally about it, he and the association are managing
the domain IIRC.

On Sat, 2 May 2020, 15:51 Abhinav Kaushlya, <notifications@github.com>
wrote:

[2020-05-04 10:38] sils commented on #304
Ok @fneu confirmed that the domain is active, it does point to cloudflare which points to solar.coala.io which is our digitalocean server and that seems to be unavailable. @yukiisbored that's under your maintenance, right?

[2020-05-04 10:39] sils commented on #304
The server on digitalocean itself is at 46.101.245.76 and is shown online so the problem is probably something on the server.

[2020-05-05 14:01] abhishalya commented on #304
Thank you all. It is fixed now :)

[2020-05-05 14:01] #304 closed, assigned to nobody

[2020-05-21 17:34] Bryon0 commented on #300
Hello, can you assign this issue to me?

[2020-10-23 14:48] eeqlsmc3 commented on #300
Hello, @shashank-b can you assign this issue to me? Thanks

[2020-12-09 19:57] BharathKumarRavichandran commented on #301
@abhishalya Hey, this looks like a typical newcomer issue. I would like to take this, can you assign this to me?

[2020-12-11 18:15] tichnas commented on #300
Hi @shashank-b, I'm new to coala and would love to work on this issue. Can I please be assigned?
Thanks